@import "../../variables.scss";

.default-btn {
  border-radius: 4px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: $regular-size;
  transition: 0.2s ease;
  cursor: pointer;
  font-weight: 500;
  padding: 0 12px;
  font-family: $font-main;

  &:disabled {
    opacity: 0.5;
  }
}

.blue-link-btn {
  background-color: $color-blue;
  width: 132px;

  &:active {
    background-color: #0067df;
    opacity: 1;
  }
}

.img-wrap {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.buttonFilter {
  background-color: white;
  width: 84px;
  height: 40px;
  margin-right: 10px;
  font-weight: 500;
  font-size: $regular-size;
  cursor: pointer;

  &:active {
    color: white;
  }
}

.buttonFilter__video {
  border: 1px solid $color-blue;
  color: $color-blue;

  &:hover {
    background: rgba(16, 126, 255, 0.1);
  }

  &:active {
    background: $color-blue;
  }
}

.buttonFilter__audio {
  border: 1px solid $color-yellow-audio;
  color: $color-yellow-audio;

  &:hover {
    background: rgba(67, 221, 156, 0.1);
  }

  &:active {
    background: $color-yellow-audio;
  }
}

.buttonFilter__photo {
  border: 1px solid $color-green-photo;
  color: $color-green-photo;

  &:hover {
    background: rgba(255, 172, 47, 0.1);
  }

  &:active {
    background: $color-green-photo;
  }
}

.filterIcon {
  margin-right: 5px;
}

.buttonAction__delete {
  background-color: white;
  border: none;
  color: #ff603e;
  &:hover {
    background: #fff0ec;
  }

  &:active {
    background: #ffd9cf;
  }
}

.button__text {
  margin-left: 10px;
}

.buttonAction__add {
  color: white;
  background-color: $color-blue;
}

.buttonAction__aproove {
  background-color: $color-green-photo;
}

.btnColor__blue {
  .buttonAction__icon path {
    fill: white;
  }
  #aproove path {
    stroke: $color-blue;
  }
  #loginIcon path {
    fill: $color-blue;
  }
  background-color: $color-blue;
  &:hover {
    background-color: #308fff;
  }

  &:active {
    background-color: #0067df;
  }
}

.btnColor__green {
  background-color: $color-green-photo;
  .buttonAction__icon path {
    fill: $color-green-photo;
    stroke: $color-green-photo;
  }

  &:hover {
    background-color: #51efac;
  }

  &:active {
    background-color: #33cd8c;
  }
}
.btnColor__grey {
  background-color: $color-ltblue;
  color: $color-blue;
  .buttonAction__icon path {
    fill: $color-blue;
  }
  #pinCircle path {
    fill: white;
  }
  &:hover {
    background-color: #308fff;
    color: white;
    .buttonAction__icon path {
      fill: white;
    }
  }
}
.btnSpecial__delete rect {
  fill: #107eff;
}
.buttonSort {
  background-color: white;
  color: $color-txt;
  font-size: $regular-size;
  font-weight: normal;
  margin-left: 20px;
  padding: 15px;
}
.activeButtonSort {
  background-color: $color-blue;
  color: white;
}
.newUser-btn {
  background-color: $color-blue;
  width: 218px;
  font-size: $regular-size;
}
.newTask-btn {
  background-color: $color-blue;
}
.editUser,
.deleteUser,
.editTask {
  background-color: $color-ltblue;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__editUser,
.img__editTask {
  background: $color-ltblue;
  margin-left: 5px;
}
.img__download {
  background-color: $color-ltblue;
}
.download {
  width: 88px;
  height: 30px;
  background-color: $color-ltblue;
  color: $color-blue;
  font-size: $small-size;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 4px;
  img {
    margin-right: 5px;
  }
  .img-wrap {
    background-color: $color-ltblue;
  }
}
.editTaskBlue {
  background-color: $color-blue;
  margin-left: 20px;
  width: 40px;
  img {
    background-color: $color-blue;
  }
  .img-wrap {
    margin: 0;
  }
  &:hover {
    background-color: #308fff;
    img {
      background-color: #308fff;
    }
  }

  &:active {
    background-color: #0067df;
    img {
      background-color: #0067df;
    }
  }
}
.deleteTaskFull {
  background-color: $color-blue;
  width: 40px;
  &:hover {
    background-color: #308fff;
  }
  &:active {
    background-color: #0067df;
  }
}
.publishTask {
  background-color: $color-green-photo;
  &:hover {
    background-color: #51efac;
  }

  &:active {
    background-color: #33cd8c;
  }
} 