@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* Colors */
     $color-txt: #313131;
     $color-main-bg: #f3f8fb;
     $color-blue: #107eff;
     $color-green-photo: #43dd9c;
     $color-yellow-audio: #ffac2f;
     $color-blue-outline: #d8e3ec;
     $color-grey-blue-icon: #96aecd;
     $color-ltblue: #e8f3ff;
     $color-red: #ff603e;
/* Fonts */
     $font-main: 'Roboto', sans-serif;

/* Font-size */
     $regular-size: 14px;
     $extra-regular-size: 16px;
     $small-size: 12px;
     $big-size: 20px;
     $extra-big-size: 24px;
/* Border */
     $header-border: 1px solid #c8d8ed;

